body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
html {
  scroll-behavior: smooth;
  
}

*{
    background: #0A0F1F;

    color: #E8EEF2;
}
.customnav{  box-shadow: 20px 20px 10px 1px black; 

}
.btn{
background-color: #3A7AFE !important;  /* teal green */
color: #0A0F1F    !important;  /* bright blue */
/* color: #FFFFFF !important;   */

}

.Intro{
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* justify-content: center; */
  align-items: baseline;
}
.Intro p{
  font-weight: 600;
  font-style: italic;
  font-size: large;
  gap: 20px;
}
.right{
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Image {
  background-image: url(Images/profile.jpg);
 background-size: cover;
   height: 500px; 
   max-width: 100px;  
     background-position: center; 
  /* background-repeat: no-repeat; */
   

}
.skills div , .skills h5{
   background: #E8EEF2;;

    
}
.skills img{
  background-color:  #E8EEF2;
}



.navbar-nav a{
  color:  #E8EEF2;
}
.navbar-nav a:hover{
  color:  #E8EEF2;
}

#Contact > p , #Contact > h4 , #icon {
  font-size: 2rem;
}


@media screen and (min-width: 1000px){

  #navbarNavDropdown{
  display: flex;
  justify-content: end;
}
}

@media screen and (max-width: 320px) {
  #Contact > p , #Contact h4 , #icon{
    font-size: 1rem;

  }
  
}

  
